<section class="hero-area bgimage">
    <div class="bg_image_holder">
        <img src="{{site.cover_image}}" alt="{{site.title}}">
    </div>
    <div class="hero-content content_above">
        <div class="content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero__content__title">
                            <h1><span class="light">Create Your Own</span><span class="bold">Digital Product Marketplace</span></h1>
                            <p class="tagline">MartPlace is the most powerful, & customizable template for Easy Digital Downloads Products</p>
                        </div>
                        <div class="hero__btn-area">
                            <a href="#" target="__blank" class="btn btn--round btn--lg">View All Products</a>
                            <a href="#" target="__blank" class="btn btn--round btn--lg">Popular Products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>