<section class="testimonial-area section--padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                 {% for feedback_info in site.data.testimonials | limit: "1" %}
                   {% assign section_data = feedback_info.section_info %}
                    <div class="section-title">
                      <h1>{{ section_data.section_title }}</h1>
                      <p>{{ section_data.section_description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-slider">
                 {% for feedback_info in site.data.testimonials | offset: "1" %}
                   {% assign testimonial = feedback_info.feedback %}
                    <div class="testimonial">
                        <div class="testimonial__about">
                            {% if testimonial.author_image %}
                            <div class="avatar v_middle">
                                <img src="{{ testimonial.author_image }}" class="img-fluid" alt="{{ testimonial.author_name }}"/>
                            </div>
                            {% endif %}
                            <div class="name-designation v_middle">
                                <h4 class="name">{{testimonial.author_name}}</h4>
                                <span class="desig">{{testimonial.author_designation}}</span>
                            </div>
                            <span class="lnr lnr-bubble quote-icon"></span>
                        </div>
                        <div class="testimonial__text">
                            <p>{{testimonial.text}}</p>
                        </div>
                    </div>
                 {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
