
<section class="special-feature-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="special-feature feature--1">
                    <img src="/assets/images/spf1.png" alt="Special Feature image">
                    <h3 class="special__feature-title">30 Days Money Back
                        <span class="highlight">Guarantee</span>
                    </h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="special-feature feature--2">
                    <img src="/assets/images/spf2.png" alt="Special Feature image">
                    <h3 class="special__feature-title">Fast and Friendly
                        <span class="highlight">Support</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>