
<section class="why_choose section--padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
             {% for choose in site.data.why_choose | limit: "1" %}
               {% assign section_info = choose.page_info %}
                <div class="section-title">
                    <h1>{{section_info.section_title}}</h1>
                    <p>{{section_info.section_description}}</p>
                </div>
             {% endfor %}
            </div>
        </div>
        <div class="row">
            {% for choose_opt in site.data.why_choose | offset: "1" %}
            {% assign choose = choose_opt.choose %}
            <div class="col-lg-4 col-md-6">
                <div class="feature2">
                    <span class="feature2__count">
                    {% assign choost_number = forloop.index %}
                     {% if choost_number < 10 %}
                     {{ choost_number | prepend: "0" }}
                     {% else %}
                     {{ choost_number }}
                     {% endif %}
                    </span>
                    <div class="feature2__content">
                        {{choose.icon}}
                        <h3 class="feature2-title">{{choose.title}}</h3>
                        <p>{{choose.description}}</p>
                    </div>
                </div>
            </div>
           {% endfor %}
        </div>
    </div>
</section>